.form__otp {
  width: 561px;
  height: 362px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
.form__otp h4 {
  font-weight: 600;
  font-size: var(--font-28);
  color: var(--text-color);
  text-align: center;
  margin: 59px 0 36px;
}
.form__otp form {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 0 30px 0 40px;
}

.label__sendkOTP {
  font-weight: 300;
  color: #000000;
  margin-bottom: 10px;
}
.form__otp form input {
  width: 491px;
  height: 54px;
  border-radius: 6px;
  padding: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.form__otp form input:focus {
  outline: none;
}
.form__otp form button[type="submit"] {
  width: 491px;
  height: 54px;
  margin-top: 10px;
  border-radius: 6px;
  padding: 8px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: var(--font-vazirmatn);
  font-weight: 500;
  font-size: var(--font-18);
}
.form__otp form button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.label__checkOTP {
  color: var(--text-color);
  font-weight: 400;
  text-align: center;
  margin-bottom: 18px;
}
.label__checkOTP span {
  font-family: var(--font-vazirmatn);
}
.resend {
  font-family: var(--font-vazirmatn);
  display: inline-block;
  text-align: center;
  margin: 15px auto 0;
}
.resend span {
  font-family: var(--font-vazirmatn);
  color: var(--complementry-color);
  cursor: not-allowed;
}
.resend button[type="button"] {
  font-family: var(--font-vazirmatn);
  vertical-align: text-top;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  color: rgba(212, 0, 0, 1);
  font-size: 16px;
  cursor: pointer;
}
.resend .hide {
  display: none;
}
.resend .show {
  display: inline-block;
}
.validation {
  margin-top: 10px;
  color: rgba(212, 0, 0, 1);
  font-size: var(--font-14);
}
.modal__close {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.modal__close path {
  stroke: var(--text-color);
}
.modal__close:hover path {
  stroke: red;
}
.check__otp h4 {
  margin-bottom: 8px;
}
.check__otp button[type="submit"]:disabled {
  margin-top: 20px;
}
