.container {
  max-width: 1188px;
  margin: 36px auto;
  display: grid;
  grid-template-columns: 284px 1fr;
  gap: 32px;
}
.profile {
  width: 284px;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.profile ul {
  padding: 12px 12px 0;
}
.profile li {
  list-style-type: none;
  margin: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border-radius: 8px;
}
.profile li:last-child {
  border: none;
}
.profile li:hover {
  background-color: var(--primary-color);
}
.profile li a {
  vertical-align: top;
  font-size: var(--font-14);
  color: var(--text-color);
  flex-grow: 1;
  padding: 12px 16px;
}
.profile li.active {
  background: rgba(40, 167, 69, 0.25);
}
.profile li.active a,
.profile li.active path {
  color: var(--primary-color);
  fill: var(--primary-color);
}
